/* ----------------------------- start variable ----------------------------- */
:root {
  --main-color: #ea0f1e;
  --sec-color: #e45826;
  --back-cl: #1d1d1d;
  --primary-font: 'Francois One',
    sans-serif;
  --sec-font: 'Rampart One',
    cursive;

}

/* ------------------------------ End variable ------------------------------ */

/* --------------------------- Start Global rules --------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Francois One',
    sans-serif;
  /* background-color: var(--back-cl); */
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--back-cl);
  scroll-behavior: smooth;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* Small */

@media (max-width: 400px) {
  .container {
    width: 390px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */

@media (min-width: 992) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.up {
  position: fixed;
  bottom: 10px;
  right: -70px;
  z-index: 1;
  transition: 0.2s;
  cursor: pointer;
}

.up i {
  font-size: 80px;
  color: var(--main-color);
}

.up.show {
  right: 50px;
}

/* ---------------------------- End Global rules ---------------------------- */
/* -------------------------------- Start Nav ------------------------------- */

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* @media (min-width: 374px) {
  .nav .container {
    justify-content: center;
    align-content: center;
  }
} */

.logo img {
  width: 120px;
  transition: 0.2s;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .links ul a {
  margin-right: 25px;
}

@media (max-width: 992px) {
  .nav .container {
    flex-wrap: wrap;
  }

  .nav .container .links {
    margin-top: 10px;
    padding: 10px;
  }
}

.nav .links ul li a {
  padding: 10px;
  cursor: pointer;
  color: #fff;
}

.nav .links ul li {
  color: #fff;
  cursor: pointer;
}

.nav .links ul li:hover a {
  background-color: var(--main-color);
  border-radius: 5px;
}

.nav .links ul li:first-child a {
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
}

/* --------------------------------- End Nav -------------------------------- */

/* ------------------------------ Start header ------------------------------ */
.header .container {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
}

.header .container .im {
  position: relative;
  position: relative;
  width: 500px;
  height: 500px;
  left: 17px;
  bottom: 232px;
}

@media (max-width: 992px) {
  .header .container .im {
    width: 100%;
    height: 100%;
    margin-top: 200px;
  }
}


.header .container .im {
  position: relative;
  position: relative;
  width: 500px;
  height: 500px;
  left: 17px;
  bottom: 232px;
}

.header .container .im .blob-box {
  position: absolute;
  width: 792px;
  height: 692px;
  top: 163px;
  z-index: 1;
  transform: rotate(124deg);
  left: -197px;
}

@media (max-width: 450px) {
  .header .container .im .blob-box {
    display: none;
  }
}


.header .container .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 400px) {
  .header .container .header-text {
    flex-wrap: wrap;
  }
}

.header .container .header-text .hallo {
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--sec-font);
}

@media (min-width: 400px) {
  .header .container .header-text .hallo p {
    font-size: 8em;
  }
}

.header .container .hallo p:first-child {
  color: var(--main-color);
  font-size: 25em;
  padding: 0;
  margin: 0px;
  transition: 0.5s;
}

@media (max-width: 400px) {
  .header .container .hallo p:first-child {
    font-size: 10em;
    margin-top: 10px;
  }
}

.header .container .hallo p:first-child:hover {
  transform: scale(1.1);
}

.header .container .hallo p:nth-child(2) {
  color: rgb(39, 39, 39);
  padding: 0;
  margin-top: 200px;
  transition: all 0.2s;
  font-size: 110px;
}

.header .container .hallo p:nth-child(2):hover {
  transform: rotate(-4deg);
}

.header .container .me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 1.4;
}

.header .container .me h1 {
  color: var(--main-color);
  font-family: var(--sec-font);
  font-size: 100px;
  font-weight: 700;
  margin: 0px 0px;
  display: inline-block;

}


.header .container .me .name-work li {
  color: #fff;
  font-size: 45px;
  margin: 15px 0px;
}

.header .container .me .name-work li span {
  position: relative;
  margin-bottom: 10px;
}

.header .container .me .name-work li span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 105%;
  border-left: 2px solid red;
  left: 0;
  animation: typing 3s steps(150) infinite;
  background-color: var(--back-cl);
}

@keyframes typing {
  100% {
    left: 100%;
  }
}

@media (min-width: 400px) {
  .header .container .im {
    width: 400px;
    right: 15px;
    margin-right: 5px;
  }
}

.header .container .im .blob-box .bolb {
  position: absolute;
  top: 221px;
  left: -64px;
  width: 108%;
  z-index: -1;
}

@media (max-width: 776px) {
  .header .container .im .blob-box .bolb {
    left: 50px;
  }
}

.header .container .im img {
  max-width: 650px;
  margin: 5px auto;
  transition: all 0.5s;
  position: absolute;
  top: -43px;
  right: -87px;
  z-index: 1;
  filter: grayscale(100%);
}



.header .container img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

.header .container .hallo span {
  color: var(--main-color);
}

/* ------------------------------- End header ------------------------------- */

/* ------------------------------- Start about ------------------------------ */

.about-me .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 250px;
  transition: all 0.5s ease-in-out;
}

.about-me .container .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 250px;
  transition: all 0.5s ease-in-out;
}

.about-me .container .about-text {
  max-width: 1000px;
  line-height: 1.7;
  border-radius: 50px;
  padding: 20px 10px;
  position: relative;
}

.about-me h1 {
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
}

.about-me .container .about-text p {
  font-size: 25px;
  color: rgb(211, 210, 210);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300px;
}


.about-me .container .about-text .image-1 {
  position: absolute;
  transform: rotate(12deg);
  top: 200px;
  right: 50px;
}

.about-me .container .about-text .image-1 img {
  top: 10px;
  width: 105px;
  transform: rotate(12deg);
}

.about-me .container .image-2 {
  display: flex;
  justify-content: center;
  align-items: center;

}



.about-me .container .image-2 img {
  width: 175px;
  height: 175PX;
  border-radius: 50%;
  top: 145PX;
  left: 492px;
  border: 5px solid var(--main-color);
  transition: all 0.5s;
}

.about-me .container .image-2 img:hover {
  transform: scale(1.2) rotate(-10deg);
}



/* -------------------------------- End about ------------------------------- */

/* ----------------------------- Start My works ----------------------------- */

.my-work .container {
  text-align: center;
  margin-top: 250px;
  line-height: 1.5;
  transition: 0.95s cubic-bezier(0, 0, 0.2, 1);
}

.my-work .container .heading h1 {
  font-size: 100px;
  color: var(--main-color);
  margin: 10px auto;
  padding: 5px;
  display: block;
}

.my-work .container .heading p {
  font-size: 1.5em;
  color: rgb(99, 99, 99);
  letter-spacing: 1.6px;
  margin-top: -21px;
}

/* 
.my-work .container .cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 150px auto;
  perspective: 1200px;
}

.my-work .container .cards .card {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  transition: transform 1s;
  box-shadow: 0px 2px 20px #5d5b5bad;
  transform-style: preserve-3d;
}

@media (max-width: 450px) {
  .my-work .container .cards .card {
    width: 350px;
  }
}

.card:hover {
  transform: rotateY(180deg) scale(1.1);
}

.card .face {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px #5d5b5bad;
  backface-visibility: hidden;
}

@media (max-width: 450px) {
  .card .face {
    width: 350px;
  }
}

.card .back {
  transform: rotateY(180deg);
}

.card .back img {
  width: 100%;
  border-radius: 20px;
}

.my-work .container .cards .card .front .text {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 350px;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  text-align: center;
}

.my-work .container .cards .card .front .text h3 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  line-height: 1.8;
}

.my-work .container .cards .text p {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 2;
}

.my-work .container .cards .text button {
  background-color: var(--main-color);
  margin-top: 10px;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.my-work .container .cards .text button p {
  font-size: 15px;
  font-weight: 200;
}

.my-work .container .other-works p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #fff;
  transition: all 1s;
  margin-bottom: 50px;
}

.my-work .container .other-works p:hover {
  text-align: center;
  font-size: 1.8em;
  font-weight: 200;
  color: var(--main-color);
} */

.my-work .container .web {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 75px;
}



.my-work .container .web-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.my-work .container .web h2 {
  font-size: 35px;
  color: var(--main-color);
  letter-spacing: 1.3px;
  padding: 10px;
}

.my-work .container .web p {
  font-size: 1.5em;
  padding: 10px;
  color: rgb(99, 99, 99);
  letter-spacing: 1.3px;
  margin-top: -21px;
}

.my-work .container .web img {
  margin-top: 20px;
  width: 600px;
  border-radius: 50px;
  transition: 0.5s;
}

@media (max-width: 450px) {
  .my-work .container .web img {
    width: 400px;
  }
}

@media (max-width: 697px) {
  .my-work .container .web img {
    width: 400px;
  }
}

.my-work .container .web img:hover {
  transform: scale(1.1);
}

/* ------------------------------ End My works ------------------------------ */

/* ------------------------------ Start Skills ------------------------------ */
.skills {
  padding: 1rem;
  margin: 2rem auto;
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
}

.skills .container h1 {
  font-size: 4em;
  color: var(--main-color);
  margin: 10px auto;
  padding: 5px;
  display: block;
  margin-bottom: 80px;
}

.skills .container .soft-sk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  border-radius: 5px;
  width: 900px;
  padding: 1rem;
  gap: 20px;
}

.skills .container .soft-sk .box {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1.2rem;
  margin: 1.2rem;
  gap: 10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 2px 20px #5d5b5bad;
  transition: 0.5s;
}

.skills .container .soft-sk .box:hover {
  transform: scale(1.1);
}

.skills .container .soft-sk .box p {
  font-size: 20px;
  color: #fff;
}

.skills .container .soft-sk .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
}

/* ------------------------------- End Skills ------------------------------- */

/* ------------------------------ Start contact ----------------------------- */

.contact .container .text-con {
  width: 100%;
  padding: 20px;
  height: 300px;
  background-color: rgb(255, 218, 219);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 25px;
  box-shadow: 0px 2px 20px #5d5b5bad;
}

.contact .container .con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .container .con h1 {
  font-size: 30px;
  color: var(--main-color);
  text-align: left;
}

.contact .container .con p {
  font-size: 20px;
  color: var(--main-color);
  text-align: left;
}

/* .contact .container .callme {
  width: 300px;
  height: 250px;
  background-color: rgb(255, 218, 219);
  box-shadow: 0px 2px 20px #5d5b5bad;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  color: var(--main-color);
} */
.contact .container .social {
  font-size: 30px;
  color: var(--main-color);
  text-align: left;
}

.contact .container .social i {
  font-size: 30px;
  color: var(--main-color);
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}

.contact .container .social i:hover {
  transform: rotate(30deg) scale(1.1);
}

.header .container .social {
  position: absolute;
  top: 270px;
  right: -155px;
  transform: rotate(-90deg);
}

@media screen and (max-width: 1200px) {
  .header .container .social {
    transform: rotate(0deg);
    margin-right: 64%;
    margin-top: 70%;
  }
}

@media (max-width: 374px) {
  .header .container .social {
    transform: rotate(0deg);
    margin-right: 55%;
    margin-right: 59%;
    margin-top: 81%;
  }
}

.header .container .social a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

/* ------------------------------- End contact ------------------------------ */