.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: gray;
}
.bolbs {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 100px;
  left: 100px;
}
